<ion-header>
  <ion-navbar>
    <ion-title>
      Overzicht Student
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="openTodoAlert()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let todo of todos">
    <ion-item>{{todo}}</ion-item>
  </ion-list>



  

  

      <ion-grid>
        <ion-row>
            <ion-col col-7 class="tekst">
                <ion-card>
                    <ion-card-header>
                       <h3>Cijfers AM1A jaar 1</h3>
                    </ion-card-header>                  
                    <ion-card-content>
                      <ion-row>
                        <ion-col col-4>
                        </ion-col>
                        <ion-col col-8 text-center>
                          Periode
                        </ion-col>
                      </ion-row>
                      <ion-row>
                            <ion-col col-4>
                              <ion-row></ion-row>
                            </ion-col> 
                            <ion-col col-2>
                                <ion-row>1</ion-row>
                            </ion-col> 
                            <ion-col col-2>
                                <ion-row>2</ion-row>
                            </ion-col> 
                            <ion-col col-2>
                                <ion-row>3</ion-row>
                            </ion-col> 
                            <ion-col col-2>
                                <ion-row>4</ion-row>
                            </ion-col> 
                      </ion-row>
                      
                      <ion-row>
                        <ion-col col-3>
                          <ion-row>DATA</ion-row>
                          <ion-row>ENG</ion-row>
                          <ion-row>GAME</ion-row>
                          <ion-row>NED</ion-row>
                          <ion-row>PROJ</ion-row>
                          <ion-row>REK</ion-row>
                          <ion-row>SLB</ion-row>
                          <ion-row>WEB</ion-row>
                          <ion-row>BLOK</ion-row>
                        </ion-col>  
                          <ion-col col-2 *ngFor="let rapport of rapporten">
                              <ion-row>{{rapport.data}}</ion-row>
                              <ion-row>{{rapport.eng}}</ion-row>
                              <ion-row>{{rapport.game}}</ion-row>
                              <ion-row>{{rapport.ned}}</ion-row>
                              <ion-row>{{rapport.proj}}</ion-row>
                              <ion-row>{{rapport.rek}}</ion-row>
                              <ion-row>{{rapport.slb}}</ion-row>
                              <ion-row>{{rapport.web}}</ion-row>
                              <ion-row>{{rapport.blok}}</ion-row>
                          </ion-col>
                      </ion-row>                                           
                    </ion-card-content>                  
                  </ion-card>
            </ion-col>
           
            <ion-col col-5 class="tekst" *ngFor="let user of users" >
                <ion-card>
                    <ion-card-header>
                       <h4>{{user.firstname}}</h4>
                       <ion-img width="90.4px" height="120px" src="../../assets/imgs/fotos/{{user.photo}}" class="img-fluid"></ion-img>
                    </ion-card-header>                  
                    <ion-card-content>
                      <h4>Woonplaats</h4>
                      <p>Spakenburg</p>
                      <h4>Absentie</h4>
                      <p>647/128</p>
                      <h4>Leeftijd</h4>
                      <p>23</p>
                    </ion-card-content>                  
                  </ion-card>
            </ion-col>
        </ion-row>
      </ion-grid>

      <ion-list *ngFor="let user of users">
        <ion-img width="113" height="150" src="../../assets/imgs/fotos/{{user.photo}}"></ion-img>
      </ion-list>

      
  
      <ion-img width="113" height="150" src="../../assets/imgs/fotos/aart.jpg"></ion-img>
    
      <ion-img width="113" height="150" src="../../assets/imgs/fotos/kevin.jpg"></ion-img>      
    
      <ion-img width="113"  height="150" src="../../assets/imgs/fotos/emre.jpg"></ion-img>
    
      <ion-img width="113" height="150" src="../../assets/imgs/fotos/kiro.jpg"></ion-img>      
   
      <ion-img width="113" height="150" src="http://www.deroset.esy.es/images/ijsimages/walnoot-in-schil.jpg"></ion-img>        
   
</ion-content>
