page-home {
  
  .tekst {
    background-color: rgb(236, 236, 236);
    margin: 0;
    padding: 0;
    white-space: normal;
    h4 {
      font-weight: bolder;
    }

    .vak {
      border-bottom: 0px solid black;
      display: inline-block;
      font-weight: bolder;
      padding: 0px;
      margin: 0px;

    }

    .cijfer {
      width: 30%;
      border-bottom: 0px solid red;
      display: inline-block;
      text-align: right;
      padding: 0px;
      margin: 0px;
      
    }

    .rij {
      width: 100%;
      border-bottom: 1px solid lightgrey;
      display: block;
      //text-align: right;
      padding: 0px;
      margin-bottom: 5px;
      
    }

  }


  .foto {
    background-color: rgb(236, 236, 236);
  }

  ::-webkit-scrollbar{
    display:none;
    }
}
