page-home {
  $grade-color-onv: red; // Kleur onvoldoende
  $grade-color-vol: green; // Kleur voldoende
  $background-color: rgb(220,220,220);

  ion-col.col [col-2] {
    border: 1px solid $background-color;
    padding: 1px;
    background-color: lighten($background-color, 5%); 

    ion-row.row.grade-onv {
      border: 1px solid white;
      border-radius: 1px;
      padding: 0px 2px;
      margin: 0px;
    }
    ion-row.row.grade-vol {
      border: 1px solid white;
      border-radius: 0px;
      padding: 0px 2px;
    }
  }

  ion-col.bold.col {
    border: 1px solid $background-color;
    padding: 1px;
    background-color: lighten($background-color, 5%); 

      ion-row.row {
        border: 1px solid white;
        border-radius: 1px;
        padding: 0px 2px;
        margin: 0px;
      }
  }
  .grade-onv {
    // Kleur als het cijfer onvoldoende is
    color: $grade-color-onv;
  }

  .grade-vol {
    // Kleur als het cijfer voldoende is
    color: $grade-color-vol;
  }

  ion-card-content.card-content.card-content-md {
    padding: 0px 2px;
  }

  ion-card-header.card-header.card-header-md img {
    width: 90px;
    height: 120px;
    display: inline-block;
    text-align: center;
  }

ion-card.card.card-md {
  width: calc(100% - 20px);
  margin: 10px 10px;
  border: 2px solid lightblue;
  height: calc(100% - 15px);
}




  .card-content-md {
    padding: 13px 16px;
    font-size: 1.6rem;
    line-height: 1.7;
    text-align: center;
  }

  .bold {
    font-weight: bolder;
    color:  grey;
  }

  .card-header-md {
    text-align: center;
  }
  
  .tekst {
    background-color: rgb(236, 236, 236);
    margin: 0;
    padding: 0;
    white-space: normal;
    h3, h4, h5 {
      font-weight: bolder;
      text-align: center;
    }

    .vak {
      border-bottom: 1px solid black;
      display: inline-block;
      font-weight: bolder;
      padding: 0px;
      margin: 0px;

    }

    .cijfer {
      width: 30%;
      border-bottom: 0px solid red;
      display: inline-block;
      text-align: right;
      padding: 0px;
      margin: 0px;
      
    }

    .rij {
      width: 100%;
      border-bottom: 1px solid lightgrey;
      display: block;
      //text-align: right;
      padding: 0px;
      margin-bottom: 5px;
      
    }

  }

  ion-card.card.card-md {
    width: calc(100% - 7.5px);
  }

  .zeven ion-card.card.card-md  {
    margin: 10px 2.5px 10px 5px;
  }

  .vijf ion-card.card.card-md{
    margin: 10px 5px 10px 2.5px;    
  }

  .foto {
    background-color: rgb(236, 236, 236);
  }

  ::-webkit-scrollbar{
    display:none;
    }
  
    ion-row.row {
    text-align: center;
  }
}
