<ion-header>
  <ion-navbar>
    <ion-title>
      Overzicht Studenten AM1A
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="refresh()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
      <ion-grid>
        <ion-row *ngFor="let rapport of rapporten">
            <ion-col col-7 class="tekst zeven">
                <ion-card>
                    <ion-card-header>
                       <h3><ion-icon name="attach"></ion-icon>  Cijfers AM1A jaar 1</h3>
                    </ion-card-header>                  
                    <ion-card-content>
                      <ion-row class="bold">
                        <ion-col col-4>
                          <ion-row></ion-row>
                        </ion-col> 
                        <ion-col col-2>
                            <ion-row>P1</ion-row>
                        </ion-col> 
                        <ion-col col-2>
                            <ion-row>P2</ion-row>
                        </ion-col> 
                        <ion-col col-2>
                            <ion-row>P3</ion-row>
                        </ion-col> 
                        <ion-col col-2>
                            <ion-row>P4</ion-row>
                        </ion-col> 
                      </ion-row>
                      
                      <ion-row>
                        <ion-col col-4 class="bold">
                          <ion-row>DATA</ion-row>
                          <ion-row>ENG</ion-row>
                          <ion-row>GAME</ion-row>
                          <ion-row>NED</ion-row>
                          <ion-row>PROJ</ion-row>
                          <ion-row>REK</ion-row>
                          <ion-row>SLB</ion-row>
                          <ion-row>WEB</ion-row>
                          <ion-row>BLOK</ion-row>
                        </ion-col>
                        <ion-col col-2 *ngFor="let data of rapport.period">
                          <ion-row [class]="gradeCol(data.data)"  (click)="changeGradeAlert(rapport, data, data.data, 'data')">{{data.data}}</ion-row>
                          <ion-row [class]="gradeCol(data.eng)"   (click)="changeGradeAlert(rapport, data, data.eng, 'eng')">{{data.eng}}</ion-row>
                          <ion-row [class]="gradeCol(data.game)"  (click)="changeGradeAlert(rapport, data, data.game, 'game')">{{data.game}}</ion-row>
                          <ion-row [class]="gradeCol(data.ned)"   (click)="changeGradeAlert(rapport, data, data.ned, 'ned')">{{data.ned}}</ion-row>
                          <ion-row [class]="gradeCol(data.proj)"  (click)="changeGradeAlert(rapport, data, data.proj, 'proj')">{{data.proj}}</ion-row>
                          <ion-row [class]="gradeCol(data.rek)"   (click)="changeGradeAlert(rapport, data, data.rek, 'rek')">{{data.rek}}</ion-row>
                          <ion-row [class]="gradeCol(data.slb)"   (click)="changeGradeAlert(rapport, data, data.slb, 'slb')">{{data.slb}}</ion-row>
                          <ion-row [class]="gradeCol(data.web)"   (click)="changeGradeAlert(rapport, data, data.web, 'web')">{{data.web}}</ion-row>
                          <ion-row [class]="gradeCol(calculateBlokGrade(data))">{{calculateBlokGrade(data)}}</ion-row>
                        </ion-col> 
                      </ion-row>                                           
                    </ion-card-content>                  
                  </ion-card>
            </ion-col>
           
            <ion-col col-5 class="tekst vijf" >
                <ion-card>
                    <ion-card-header>
                       <h4>{{rapport.firstname}}</h4>
                       <img [src]="rapport.photo">
                    </ion-card-header>                  
                    <ion-card-content>
                      <h5>Woonplaats</h5>
                      <p text-center>{{rapport.residence}}</p>
                      <h4>Absentie</h4>
                      <p text-center>{{rapport.absence}}</p>
                      <h4>Leeftijd</h4>
                      <p text-center>{{age(rapport.birthday)}}</p>
                    </ion-card-content>                  
                  </ion-card>
            </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
